* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body, html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('images/journey.jpg') no-repeat center center/cover;
    color: #333;
  }
  
  .coming-soon-container {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    padding: 50px 30px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  
  .logo {
    width: 250px;
    margin-bottom: 0px;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 30px;
  }
  
  .email-form {
    display: flex;
    flex-direction: column;
  }
  
  .email-form input[type="email"] {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .email-form button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .email-form button:hover {
    background-color: #0056b3;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .social-icons a {
    margin: 0 10px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
  }
  
  .social-icons img:hover {
    transform: scale(1.1);
  }
  